[Desktop Entry]
Encoding=UTF-8
Exec=/home/dreuter/.scripts/system-startup.sh
Name=system-startup.sh
Comment=System startup script
Terminal=false
OnlyShowIn=GNOME
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
